.guide-text,
.guide-arrow {
	position: fixed;
	color: #19191a;
	transition: all 300ms ease;
	pointer-events: none;
}
.darkmode--enabled .guide-text,
.darkmode--enabled .guide-arrow {
	position: fixed;
	color: #fff;
}
.guide-text {
	bottom: 164px;
	right: 70px;
	opacity: 0;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-name: fade;
	animation-delay: 2s;
	font-weight: bold;
	text-align: center;
}
.guide-arrow {
	bottom: 74px;
	right: 80px;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	.draw-arrow {
		stroke-width: 5;
		stroke: currentColor;
		fill: none;
		stroke-dasharray: 400;
		stroke-dashoffset: 400;
		animation-duration: 10s;
		animation-fill-mode: forwards;
		animation-name: draw;
		animation-delay: 2s;
		&.tail-1 {
			animation-delay: 2.3s;
		}
		&.tail-2 {
			animation-delay: 2.4s;
		}
	}
}
@keyframes draw {
	0% {
		stroke-dashoffset: 400;
	}
	20% {
		stroke-dashoffset: 0;
	}
	90% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 400;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	20% {
		opacity: 1;
		transform: rotate(0deg);
	}
	39% {
		opacity: 1;
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(4deg);
	}
	41% {
		transform: rotate(-4deg);
	}
	42% {
		transform: rotate(4deg);
	}
	43% {
		transform: rotate(-4deg);
	}
	45% {
		transform: rotate(4deg);
	}
	46% {
		transform: rotate(0deg);
	}
	90% {
		opacity: 1;
		transform: rotate(0deg);
	}
	100% {
		opacity: 0;
		transform: rotate(0deg);
	}
}
